* {
    padding: 0;
    margin: 0;

}

:root {
    --yellow: #FFD23F;
    --purple: #540D6E;
    --red: #EE4266;
    --green: #30e260;
    --blue: #4267ee;
}

body {
    /* background: rgb(23, 195, 178);
    background: linear-gradient(301deg, rgba(23, 195, 178, 1) 0%, rgba(178, 137, 201, 1) 100%); */
    background: var(--yellow);

    font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
button {
    font-family: 'Tiny5', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

header {
    height: 10vh;
    background: var(--purple);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

li {
    list-style: none;
    font-size: 14px;
}


#start-btn1,
.next-btn,
.option,
.play-again-btn {
    font-size: 22px;
    padding: 14px;
    width: 200px;
    border: 0px solid;
    border-radius: 10px;
    color: white;
    background-color: var(--yellow);
    transition: transform .2s;
}
#start-btn2,
.next-btn,
.option,
.play-again-btn {
    font-size: 22px;
    padding: 14px;
    width: 200px;
    border: 0px solid;
    border-radius: 10px;
    color: white;
    background-color: var(--red);
    transition: transform .2s;
}

#start-btn3,
.next-btn,
.option,
.play-again-btn {
    font-size: 22px;
    padding: 14px;
    width: 200px;
    border: 0px solid;
    border-radius: 10px;
    color: white;
    background-color: var(--purple);
    transition: transform .2s;
}

#start-btn:hover,
.next-btn:hover {
    color: white;
    background-color: var(--red);
    transform: scale(1.1);
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 30px 0px 120px 0px;
}

.welcome-box,
.stats-box,
.quiz-box,
.result-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 4px dashed #e1ad01;
}


.quiz-box {
    width: 600px;
    gap: 40px;
}

/* RESULTS.HTML */
.result-box {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    width: inherit;
    padding: 40px 60px;
}

.result-text{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.result-box > div:first-child {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background: var(--yellow);
    border: 12px solid rgba(255, 255, 201, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-box h1{
    font-size: 58px;
    color: var(--purple);
}

.play-again-btn{
    margin-top: 20px;
}


.chart {
    height: 200px;
    width: 100%;
}

.logo {
    height: 40px;
}

#welcome-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}

.imgArcade {
    width: 40px;
}

/* Preguntas Quizz */

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.options div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.option {
    font-size: 28px;
    padding: 30px 80px;
    width: auto;
}

.option1 {
    background-color: var(--red);
    transition: transform .2s;
}

.option1:hover {
    background-color: #ff6788;
    cursor: pointer;
    transform: scale(1.06);
}

.option2 {
    background-color: var(--yellow);
}

.option2:hover {
    background-color: #ffe079;
    cursor: pointer;
    transform: scale(1.06);
}

.option3 {
    background-color: var(--green);
}

.option3:hover {
    background-color: #64ff8d;
    cursor: pointer;
    transform: scale(1.06);
}

.option4 {
    background-color: var(--blue);
}

.option4:hover {
    background-color: #7a97ff;
    cursor: pointer;
    transform: scale(1.06);
}

.stats-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: rgb(255, 255, 255);
    padding: 28px 40px;
    border-radius: 16px;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.105);
}

.card article:last-child{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card h3{
    font-size: 14px;
    color: var(--red)
}

/* ---------- Media Queries ---------- */
@media (max-width: 768px) {

    h1,
    h2 {
        font-size: 24px;
    }

    button {
        font-size: 18px;
        padding: 12px;
        width: 180px;
    }

    header,
    footer {
        height: 8vh;
    }

    .content {
        padding: 20px 24px 100px 24px;
    }

    .result-box {
        gap: 20px;
    }  

}